@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        Lista de personas
    </p>
    <style>
        .p1
        {
            background-color: grey;
        }
        table,th,td 
        {
            border:1px solid black;
            margin: 0 auto;
        }
    </style>
    <table border>
        <thead>
            <tr>
                <th class="p1">Nombre</th>
                <th class="p1">Edad</th>
                <th class="p1">Telefono</th>
                <th class="p1" colspan="2">Modificacion</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Persona p in Model.personas)
            {
                <tr>
                    <td>@p.Nombre</td>
                    <td>@p.Edad</td>
                    <td>@p.Telefono</td>
                    <td><input type="button" value="modificar"></td>
                    <td><input type="button" value="eliminar"></td>
                </tr>
            }
        </tbody>
    </table>
</div>
