@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        Lista de personas
    </p>
    <table border>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Persona p in Model.personas)
            {
                <tr>
                    <td>@p.Nombre</td>
                    <td>@p.Edad</td>
                    <td>@p.Telefono</td>
                </tr>
            }
        </tbody>
    </table>
</div>
